In [2]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('Customer/CustomerAddressDetails.csv')
df2 = pd.read_csv('Customer/CustomerDetails.csv')
df3 = pd.read_csv('Customer/CustomerInterest.csv')
df4 = pd.read_csv('Insurance/CustomerInsurancePolicyFeature.csv')
df5 = pd.read_csv('Insurance/CustomerInsurancePolicyDetails.csv')
df6 = pd.read_csv('Insurance/CustomerInsurancedetails.csv')
df7 = pd.read_csv('Insurance/CustomerInsuranceAdditionalDetail.csv')
df8 = pd.read_csv('Customer/CustomerFamilyMember.csv') 
dfpolicy = pd.read_csv('Insurance/InsuranceVendorPolicyMaster.csv')
dfupi = pd.read_csv('UPITransactionDetails.csv' , low_memory=False)
dfpay = pd.read_csv('TvamPaymentResponseDetails.csv' , low_memory=False)
dfd = pd.read_csv('ECTvamDoctorConsultation.csv')
dfc0 = pd.read_csv('Cluster/Cluster0.csv')
dfbnk = pd.read_csv('Loan/tvamBLBussinessAndLoanDetails.csv')
dfq = pd.read_csv('QuestionResponse.csv')

#Renaming Fields
df6 = df6.rename(columns={'CustRefId':'CustRefID'})
df4 = df4.rename(columns={'ID':'PolicyID'})
dfupi = dfupi.rename(columns={'TvamCustRefid':'CustRefID'})
dfpay = dfpay.rename(columns={'TvamCustRefId':'CustRefID'})
dfc0 = dfc0.rename(columns={'customer':'CustRefID'})
dfbnk = dfbnk.rename(columns={'TvamCustomerId':'CustRefID'})
dfq=dfq.rename(columns={'CustomerId':'CustRefID'})

In [13]:
#Checking columns name of each table in one go
L = [df1,df2,df3,df4,df5,df6,df7,df8,dfpolicy,dfupi,dfpay,dfd,dfbnk,dfq,dfc0]
Str = ["df1","df2","df3","df4","df5","df6","df7","df8","dfpolicy","dfupi","dfpay","dfd","dfbnk","dfq","dfc0"]

for i in range(len(L)):
    print('|||' + Str[i] + '|||')
    print(L[i].columns)

|||df1|||
Index(['AddRefID', 'CustRefID', 'AddressType', 'City', 'State', 'Country',
       'PinCode', 'District', 'Taluk', 'Lat', 'Lng', 'CreatedDate',
       'UpdateDate', 'LandMark'],
      dtype='object')
|||df2|||
Index(['CustRefID', 'LangType', 'Gender', 'CreatedDate', 'UpdateDate', 'DOB',
       'IsInterestOpted'],
      dtype='object')
|||df3|||
Index(['CustRefID', 'InterestCode', 'DisplayText', 'Priority', 'CreatedDate'], dtype='object')
|||df4|||
Index(['PolicyID', 'FeatureId', 'Features', 'Locale', 'CreatedDate'], dtype='object')
|||df5|||
Index(['InsuranceID', 'PolicyStatus', 'PolicyType', 'CoverType', 'CreatedDate',
       'PolicyID', 'CustRefID', 'PolicyCreationDate', 'PolicyModifyDate',
       'PolicyFor', 'PolicyCommencementDt', 'PolicyMaturityDt',
       'PaymentRefNo'],
      dtype='object')
|||df6|||
Index(['CustRefID', 'InsuranceID', 'DOB', 'Gender', 'CreatedDate',
       'DeclarationID', 'PolicyType'],
      dtype='object')
|||df7|||
Index(['InsuranceID', 'PinCode', 'District', 'State', 'CreatedDate'], dtype='object')
|||df8|||
Index(['MemberID', 'CustRefID', 'Gender', 'DOB', 'RelationShipType',
       'CreatedDate', 'UpdateDate'],
      dtype='object')
|||dfpolicy|||
Index(['VendorID', 'InsuranceType', 'VendorCode', 'CoverType', 'PolicyID',
       'PolicyName', 'SumInsured', 'FeatureId', 'AmountPerMember',
       'PremiumAmount', 'MaxMembers', 'ChildrenMinAge', 'ChildrenMaxAge',
       'PolicyTenureType', 'PolicyTenureValue', 'CreatedDate', 'PolicyRegion',
       'MinMembers', 'ProductCode', 'AllowedRelationships',
       'AllowedCombinations', 'AdultMaxAge', 'AdultMinAge'],
      dtype='object')
|||dfupi|||
Index(['TransactionId', 'CustRefID', 'TransactionDescription', 'Amount',
       'Currency', 'PaymentType', 'TransactionType', 'PayeePaymentAddress',
       'PayeeIFSC', 'MerchantCatCode', 'PayerIFSC', 'SubMerchantID',
       'TransactionAuthDate', 'Status', 'PaymentTypeCategory', 'Createddate',
       'PaymentPurpose', 'UpdatedDateTime', 'IsCollectApproved'],
      dtype='object')
|||dfpay|||
Index(['PaymentId', 'TvamCustId', 'PaymentRefID', 'BankName', 'Amount',
       'PGMode', 'Status', 'TxnDateTime', 'ServiceName', 'CreatedDate',
       ...
       'Unnamed: 1014', 'Unnamed: 1015', 'Unnamed: 1016', 'Unnamed: 1017',
       'Unnamed: 1018', 'Unnamed: 1019', 'Unnamed: 1020', 'Unnamed: 1021',
       'Unnamed: 1022', 'Unnamed: 1023'],
      dtype='object', length=1024)
|||dfd|||
Index(['TvamRefNo', 'TvamCustID', 'Customer_id', 'ConsultationId', 'DoctorId',
       'Type', 'UserDob', 'UserGender', 'Status', 'PolicyNum',
       'IsPrimaryCustomer', 'Createddate', 'Updatetdate', 'ConsultationDate',
       'FamilyMemberId', 'PaymentStatus', 'StatusMessage',
       'TvamConsultationId', 'ConsultationFee', 'Remarks', 'TvamAdvance',
       'TvamAdvanceUsed', 'PaymentrefNo'],
      dtype='object')
|||dfbnk|||
Index(['LoanApplicationId', 'LoanRefno', 'LoanPurposeId', 'LoanAmount',
       'BussinessTypeId', 'CurrentBussinessSinceMonth',
       'CurrentBussinessSinceYear', 'TotalBussinessWorkExperienceMonth',
       'TotalBussinessWorkExperienceYear', 'CreatedDate', 'UpdateDate',
       'CustRefID', 'MonthlySales'],
      dtype='object')
|||dfq|||
Index(['CustRefID', 'Education', 'Profession', 'BusinessCategory',
       'MaritalStatus', 'Children', 'SchoolGoingKids', 'GeoTagging',
       'Dependent', 'NoOfSeniorCitizen', 'Anniversary', 'Vehicle', 'Income',
       'CreatedDate', 'UpdatedDateTime'],
      dtype='object')
|||dfc0|||
Index(['CustRefID', 'Gender', 'LangType', 'Age', 'Cluster'], dtype='object')

In [6]:
#query3
#S1=>(@P Person:* {NodeFor="Customer"});RETURN COUNT(*) AS Total_Registrations

df2.CustRefID.nunique()

30000

In [9]:
#query4
#S1=>(@P Person:* {NodeFor="Family_Member"});RETURN COUNT(*) AS Total_Registrations

df8.MemberID.nunique()
#df8.count()

21022

In [14]:
#query2
#S1=>(@P Person:*);RETURN COUNT(*) AS Total_Users

df2.CustRefID.nunique() + df8.MemberID.nunique()

51022

In [31]:
#query6
#S1=>(@P Person:* {Gender="female" AND NodeFor="Customer"});RETURN COUNT(*) AS Total_Female_Customers

#df2.Gender.unique()
df2[df2['Gender']=='female'].CustRefID.nunique()

9874

In [32]:
#query7
#S1=>(@P Person:* {Gender="male" AND NodeFor="Customer"});RETURN COUNT(*) AS Total_male_Customers

#df2.Gender.unique()
df2[df2['Gender']=='male'].CustRefID.nunique()

20126

In [39]:
#query8
#S1=>(@P Person:* );RETURN P.Gender AS Gender, COUNT(*) AS Total_Customers

#df2.Gender.unique() --- Customer
#df8.Gender.unique() --- Family
print(df8[df8['Gender']=='Male'].MemberID.nunique())
print(df2[df2['Gender']=='female'].CustRefID.nunique())
print(df2[df2['Gender']=='male'].CustRefID.nunique())
print(df8[df8['Gender']=='Female'].MemberID.nunique())

10563
9874
20126
10459

In [40]:
#query9
#S1=>(@P Person:*)-[@h HAS_PROFILE]->(@C Profile:*)
dfq.count()

CustRefID            100
Education            100
Profession           100
BusinessCategory     100
MaritalStatus        100
Children             100
SchoolGoingKids        0
GeoTagging             0
Dependent            100
NoOfSeniorCitizen    100
Anniversary            0
Vehicle              100
Income               100
CreatedDate          100
UpdatedDateTime      100
dtype: int64

In [41]:
#query10
#S1=>(@P Person:*)-[@h HAS_PROFILE]->(@C Profile:*);RETURN UCOUNT(C.name) AS Total_Customer_Profiles
dfq.CustRefID.nunique()

100

In [43]:
#query11
#S1=>(@P Person:*)-[@h HAS_PROFILE]->(@C Profile:*);RETURN P.name AS Customer, C.Education AS Education, C.Profession AS Profession, C.MaritalStatus, C.Dependent AS Dependent, C.income AS income, C.BusinessCategory AS Business_Category 

dfq[['CustRefID','Education','BusinessCategory','Dependent','MaritalStatus','Profession']]

,CustRefID,Education,BusinessCategory,Dependent,MaritalStatus,Profession
0,de5392eb-56db-448e-b785-2c5d807d2596,Below SSC,Proprietorship,1,Divorced,Home Maker
1,47f92f22-93aa-463f-addd-8fa94b13872a,Post Graduate,Partnership (Regd),2,Divorced,Student
2,c3d99d96-9475-4340-b620-83ad4dbae3fe,Below SSC,Pvt Ltd Co.,1,Unmarried,Business
3,b8cb2909-b22b-4df0-bf7a-bf8df3e5d98f,Below SSC,Partnership (Regd),2,Unmarried,Student
4,fd1758a0-ccee-44a4-af8a-9a3fdb9092a4,HSC,Pub Ltd Co.,0,Divorced,Student
...,...,...,...,...,...,...
95,a61be4ac-1022-4f6b-aa83-eaf0a5f1a1a1,CA/CS/CMA,HUF,0,Divorced,Home Maker
96,79205d97-069a-4108-a332-375a636b9991,Below SSC,Pub Ltd Co.,0,Married,Home Maker
97,c95c676f-0c37-4409-82cc-60fc71afaa26,MBBS/MD,HUF,1,Divorced,Business
98,249a0a64-e95b-46ee-afab-a9c6fa8a0b1f,LLB/LLM,Partnership (Regd),2,Divorced,Business
99,1d321077-b021-4e12-a7a4-4b080b21142c,HSC,HUF,0,Unmarried,Salaried

In [47]:
#query12
#S1=>(@P Person:*)-[@h HAS_PROFILE]->(@C Profile:*);RETURN C.MaritalStatus AS Marital_Status,COUNT(P.name) AS Customers

dfq.MaritalStatus.value_counts()

Married      36
Divorced     33
Unmarried    31
Name: MaritalStatus, dtype: int64

In [54]:
#query13
#S1=>(@P Person:*)-[@h HAS_PROFILE]->(@C Profile:*);RETURN P.Gender AS Gender, COUNT(P.name) AS Gender_Distribution
dfmerge = dfq.merge(df2 , how='left', on='CustRefID')
dfmerge.groupby('Gender' , as_index=False).count()[['Gender','CustRefID']]

   Gender  CustRefID
0  female         23
1    male         77

In [64]:
#query14
#S1=>(@P1 Person:* {Gender="female"})-[@h HAS_PROFILE]->(@C Profile:* {Profession="Business" AND MaritalStatus="Married"});RETURN PP1.name AS Customer , P1.DOB AS Customer_DOB, MATH_EXP("DATE((CURTIME-$Customer_DOB)/30806700000000)") AS Customer_Age, C.Education AS Education, C.Profession AS Profession, C.Dependent AS Dependent, C.Income AS Income, C.BusinessCategory AS Business_Category

dfmerge = dfq.merge(df2 , how='left', on='CustRefID')
dfmerge = dfmerge[(dfmerge['Gender']=="female") & (dfmerge['Profession']=="Business") & (dfmerge['MaritalStatus']=="Married")]
dfmerge[['DOB','Education','BusinessCategory','Dependent','Income']]

           DOB Education      BusinessCategory  Dependent   Income
32  1993-03-30  Graduate           Pub Ltd Co.          1  20K-30K
49  1998-07-20   LLB/LLM  Partnership (UnRegd)          2  10K-20K

In [68]:
#query15
#S1=>(@P1 Person:* {Gender="male"})-[@h HAS_PROFILE]->(@C Profile:* {Profession="Home Maker" AND Dependent > 0});RETURN COUNT(P1.name) AS Customer , C.Education AS Education, C.MaritalStatus AS MaritalStatus

dfmerge = dfq.merge(df2 , how='left', on='CustRefID')
dfmerge = dfmerge[(dfmerge['Gender']=="male") & (dfmerge['Profession']=="Home Maker") & (dfmerge['Dependent']>0)]
dfmerge = dfmerge[['Education','MaritalStatus','CustRefID']]
dfmerge.groupby(['Education','MaritalStatus'] , as_index=False).count()

       Education MaritalStatus  CustRefID
0      Below SSC      Divorced          1
1      CA/CS/CMA     Unmarried          3
2      Doctorate     Unmarried          1
3            HSC      Divorced          1
4        LLB/LLM      Divorced          3
5        MBBS/MD     Unmarried          1
6  Post Graduate       Married          1
7  Post Graduate     Unmarried          1
8            SSC       Married          1

In [69]:
#query16
#S1=>(@P1 Person:* {Gender="male"})-[@h HAS_PROFILE]->(@C Profile:* {Profession="Home Maker" AND Dependent > 0});RETURN COUNT(P1.name) AS Customer , C.Education AS Education, C.MaritalStatus AS MaritalStatus WHERE MaritalStatus = "Unmarried"

dfmerge = dfq.merge(df2 , how='left', on='CustRefID')
dfmerge = dfmerge[(dfmerge['Gender']=="male") & (dfmerge['Profession']=="Home Maker") & (dfmerge['Dependent']>0) & (dfmerge['MaritalStatus']=="Unmarried")]
dfmerge = dfmerge[['Education','MaritalStatus','CustRefID']]
dfmerge.groupby(['Education','MaritalStatus'] , as_index=False).count()

       Education MaritalStatus  CustRefID
0      CA/CS/CMA     Unmarried          3
1      Doctorate     Unmarried          1
2        MBBS/MD     Unmarried          1
3  Post Graduate     Unmarried          1

In [ ]:
#query17
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query18
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query19
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query20
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query21
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query22
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query23
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query24
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query25
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query26
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query27
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query28
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [ ]:
#query29
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer

In [70]:
#query30
#S2=>[S1=>(@P1 Person:*)-[@h1 HAS_PROFILE]->(@C Profile:* )]-[@h2 HAS_ADDRESS]->(@A Address:*)-[@z WITH_PINCODE]->(@Z Pincode:*)-[@s IS_IN_STATE]->(@S State:*);RETURN S.name AS State, UCOUNT(P1.name) AS Customer